.banner {
    background: radial-gradient(66.55% 50% at 50% 50%, #273788 0%, #094F94 0.01%, #0A0A0E 71.64%, #000000 87.58%);
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

    &__image {
        max-width: none;
        width: 100px;
        margin: 0 5px;
    }

    &__section {
        width: fit-content;
        display: flex;
        flex-direction: column;
        font-size: large;
        margin: 0 5px;
    }

    &__desc {
        font-family: $mainFont;
        color: white;
    }
}

@media (max-width: $responsiveBanner) {
    .banner {
        &__desc {
            font-size: small;
        }

        &__image {
            width: 65px;
        }
    }
}
