.cartList {
    width: 100%;
    max-width: $containerMaxWidth;
    display: flex;
    flex-direction: column;

    &__total {
        font-family: $secondFont;
        font-size: $totalFs;
        color: $darkGray;
        margin: 5px 0;
    }

    &__priceSum {
        font-family: $secondFont;
        font-size: $totalFs + 0.5;
        color: $darkGray;
        margin: 20px 0;
        align-self: center;
        text-align: center;
    }

    &__order {
        background-color: $mainBg;
        box-shadow: $shadow;
        border-radius: $borderRadius;
        display: flex;
        position: relative;
        width: 100%;
        height: 150px;
        align-items: center;
        margin: 10px 0;
    }

    &__title {
        font-family: $secondFont;
        font-size: $cartTitleFs;
        color: $mainBlue;
    }

    &__info {
        margin-left: 10px;
    }

    &__quantity {
        font-family: $secondFont;
        font-size: $cartTitleFs;
        color: $mainBlue;
    }

    &__totalPrice {
        font-family: $secondFont;
        font-size: $cartTitleFs;
        color: $mainBlue;
    }

    &__thumb {
        height: 80%;
        width: 80px;
        object-fit: contain;
        max-width: none;
        margin: 0 10px;
    }

    &__remove {
        max-width: none;
        height: 50px;
        position: absolute;
        right: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}
