.customButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    width: 100%;
    font-family: $mainFont;
    color: white;
    padding: 10px 5px;
    margin: 15px 0;
    border-style: none;
    outline: none;

    &__icon {
        max-width: none;
        height: 27px;
        margin: 0 5px;
    }

    &__desc {
        font-size: $customButtonFs;
        font-weight: bold;
        margin: 0 5px;
    }

    &--blue {
        background-color: $lightBlue;

        &:hover {
            background-color: #57abff;
        }
    }

    &--dark {
        background-color: $darkButton;

        &:hover {
            background-color: #8a8a8a;
        }
    }

    &--small {
        margin: 0;

        .customButton__desc {
            font-size: $customButtonFs - 0.2;
        }
    }

    &--smallest {
        margin: 10px 5px;

        .customButton__desc {
            font-size: $customButtonFs - 0.28;
        }
    }

    &:hover {
        cursor: pointer;
    }
}
