.display {
    display: flex;
    flex-direction: column;
    background-color: $mainBg;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    width: $displayWidth;
    height: fit-content;
    color: $darkGray;
    margin: 5px 0;

    &__section {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    &__title {
        font-family: $mainFont;
        font-weight: bold;
        color: $darkGray;
        margin: 10px 0;
    }

    &__subtitle {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 0.9rem;
    }

    &__options {
        font-family: $secondFont;
        color: $darkGray;
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        select {
            font-family: $secondFont;
            color: $darkGray;
            border: none;
            border-bottom: 1px solid $lineColor;

            &:focus {
                outline: none;
                border-color: $lightBlue;
            }
        }

        input[type="radio"] {
            color: blue;
            vertical-align: middle;
            margin: 10px 0;
            font-size: 0.9rem;
        }
    }
}
