.footer {
    background-color: white;
    border-top: 1px solid $lineColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $containerMaxWidth;
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 40px 10px;
    }

    &__contact {
        font-family: $mainFont;
        font-size: small;
        font-weight: lighter;
        color: $lightGray;
        width: 100%;
        max-width: 500px;
        margin: 0 10px;
    }

    &__certification {
        margin-left: auto;
    }

    &__social-media {
        background-color: $mainBlue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        margin: 10px;
        max-width: none;
        width: 50px;
    }
}