.form {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    &__title {
        font-family: $mainFont;
        font-weight: bold;
        color: $mainBlue;
        font-size: $headerDescFs;
        margin-bottom: 30px;
    }

    &__twoColumn {
        display: flex;
        width: 100%;
        
        .input {
            margin: 5px;
        }
    }

    &__altRef {
        font-family: $secondFont;
        font-size: $inputFs - 0.1;
        color: $lightGray;
        margin: 20px 0;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
