.header {
    background-color: $mainBlue;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

    &__menu {
        display: none;
        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        width: 100%;
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 5px;
        img {
            max-width: none;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0 10px;
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        height: 30px;
        max-width: none;
        max-height: none;
    }

    &__tag {
        color: white;
        font-family: $secondFont;
        font-size: 0.8rem;
        font-weight: lighter;
    }
}

@media (max-width: $responsiveHeaderMaxWidth) {
    .header {
        &__logo {
            img {
                height: 30px;
            }
        }

        &__option {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 0 5px;
        }

        &__icon {
            height: 20px;
            max-width: none;
            max-height: none;
        }
        /*&__menu {
            display: block;
        }*/

        /*&__button {
            display: none;
        }*/
    }
}
