.input {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0;

    &__label {
        position: absolute;
        font-family: $mainFont;
        color: $lightGray;
        pointer-events: none;
        transition: 0.2s ease;
        font-size: $inputFs;
        margin: 0 5px;

        &--focus {
            transition: 0.2s ease;
            color: $lightBlue;
            margin-bottom: $labelMarginBottom;
            font-size: $inputFs - 0.3;
        }
    }

    &__field {
        background: none;
        padding: 5px;
        font-family: $secondFont;
        width: 100%;
        border: none;
        border-bottom: 2px solid $lightGray;
        color: $darkGray;
        font-size: $inputFs;
        z-index: 1;

        &:focus {
            outline: none;
            border-color: $lightBlue;

            + label {
                transition: 0.2s ease;
                color: $lightBlue;
                margin-bottom: $labelMarginBottom;
                font-size: $inputFs - 0.3;
            }
        }

        &:valid {
            outline: none;
            border-color: $lightBlue;

            + label {
                transition: 0.2s ease;
                color: $lightBlue;
                margin-bottom: $labelMarginBottom;
                font-size: $inputFs - 0.3;
            }
        }
    }
}