.orderList {
    width: 100%;
    max-width: $containerMaxWidth;

    &__order {
        background-color: $mainBg;
        box-shadow: $shadow;
        border-radius: $borderRadius;
        display: flex;
        position: relative;
        width: 100%;
        height: 80px;
        align-items: center;
        margin: 10px 0;
    }

    &__title {
        font-family: $secondFont;
        color: $darkGray;
    }

    &__quantity {
        font-family: $secondFont;
        color: $darkGray;
    }

    &__totalPrice {
        font-family: $secondFont;
        color: $darkGray;
    }

    &__thumb {
        height: 80%;
        max-width: none;
        margin-left: 5px;
    }

    &__remove {
        max-width: none;
        height: 50px;
        position: absolute;
        right: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
