.productView {
    display: flex;
    justify-content: center;
    //flex-wrap: wrap;
    width: 100%;
    max-width: $containerMaxWidth;
    font-family: $mainFont;
    margin: 10px 0;

    &__gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $galleryMaxWidth;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $mainBg;
        box-shadow: $shadow;
        border-radius: $borderRadius;
        width: 100%;
    }

    &__image {
        padding: 10px;   

        img {
            max-width: none;
            max-height: none;
            width: 100%;
        }
    }

    &__previous {
        left: 5px;
        position: absolute;
    }

    &__next {
        right: 5px;
        position: absolute;
    }

    &__thumbs {
        width: 100%;
        display: flex;
    }

    &__thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mainBg;
        box-shadow: $shadow;
        border-radius: $borderRadius - 5;
        padding: 3px;
        width: 20%;
        margin: 5px 2px;

        img {
            max-width: none;
            width: 100%;
        }

        &--current {
            border: 2px solid $lightBlue;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 420px;
        margin-left: 30px;
    }

    &__title {
        color: $darkGray;
        font-weight: bold;
        font-size: $productTitleBigFs;
    }

    &__price {
        color: $lightBlue;
        font-size: $productTitleBigFs;
        font-weight: bold;
        margin: 10px 0;
    }

    &__desc {
        font-size: $productDescBigFs;
        color: $darkGray;
        margin: 10px 0;
    }

    &__feature {
        color: $darkGray;
        font-size: $productViewBigFs;
        margin-bottom: 10px;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .productView {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__details {
            width: 100%;
            max-width: none;
            margin: 20px 0;
        }
    }
}
