.productView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //flex-wrap: wrap;
    width: 100%;
    max-width: $containerMaxWidth;
    font-family: $mainFont;
    margin: 10px 0;

    &__gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $galleryMaxWidth;
        max-height: $galleryMaxWidth;
    }

    &__counter {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: $mainBlue;
        color: white;
        padding: 5px 10px; 
        font-size: $productDescBigFs + .2;
        border-radius: $borderRadius;
        z-index: 3;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $mainBg;
        box-shadow: $shadow;
        border-radius: $borderRadius;
        width: 100%;
        padding: 10px;
    }

    &__imageContainer {
        overflow: hidden;
    }

    &__carrousel {
        display: flex;
        transition: transform 0.6s ease;
    }

    &__image {
        max-width: none;
        max-height: none;
        width: 100%;
    }

    &__previous {
        height: 40px;
        &:hover {
            cursor: pointer;
        }
    }

    &__next {
        height: 40px;
        &:hover {
            cursor: pointer;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $galleryMaxWidth;
        margin: 10px 0;
    }

    &__title {
        color: $darkGray;
        font-weight: bold;
        font-size: $productTitleBigFs + .5;
    }

    &__price {
        color: $lightBlue;
        font-size: $productTitleBigFs + .5;
        font-weight: bold;
        margin: 10px 0;
    }

    &__desc {
        font-size: $productDescBigFs + .2;
        color: $darkGray;
        margin: 10px 0;
    }

    &__feature {
        color: $darkGray;
        font-size: $productViewBigFs;
        margin-bottom: 10px;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__quantity {
        display: flex;
        align-items: center;
    }

    &__btn {
        margin:20px 5px;
        max-width: none;
        max-height: none;
        width: 45px;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 1000px) {
    .productView {

        &__details {
            margin-top: 10px;
            margin-left: 0;
        }
    }
}
