.sectionHeader {
    width: 100%;
    max-width: $containerMaxWidth;
    display: flex;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: $mainFont;
        font-weight: bold;
        color: $mainBlue;
        font-size: $headerTitleFs;
    }

    &__desc {
        font-family: $secondFont;
        color: $darkGray;
        font-size: $headerDescFs;
    }

    &__return {
        display: flex;
        font-family: $secondFont;
        font-size: $headerReturnFs;

        img {
            max-height: none;
            margin: 0 5px;
        }

        span {
            font-weight: bolder;
            color: $darkGray;
        }
    }
}