.sectionHeader {
    width: 100%;
    max-width: $containerMaxWidth;
    display: flex;
    flex-direction: column;

    &__banner {
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    &__title {
        font-family: $mainFont;
        font-weight: bold;
        color: $mainBlue;
        font-size: $headerTitleFs !important;

        &--blue {
            color: $lightBlue;
        }
    }

    &__desc {
        font-family: $secondFont;
        color: $darkGray;
        font-size: $headerDescFs;
    }

    &__return {
        display: flex;
        font-family: $secondFont;
        font-size: $headerReturnFs;
        margin: 10px 0;
        width: fit-content;

        img {
            max-height: none;
            margin: 0 5px;
        }

        span {
            font-weight: bolder;
            color: $darkGray;
        }
    }
}