@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.header {
  background-color: #23374d;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 5px;
}

.header__logo img {
  max-width: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 5px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button:hover {
  cursor: pointer;
}

.header__icon {
  height: 25px;
  max-width: none;
  max-height: none;
}

.header__tag {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
}

.queryInput {
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.queryInput__field {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.queryInput__field:focus {
  outline: none;
}

.queryInput__button {
  background-color: #1089ff;
  height: 100%;
  padding: 5px 15px;
}

.queryInput__button img {
  height: 25px;
  max-height: none;
}

.queryInput__button:hover {
  background-color: #7abcff;
  cursor: pointer;
}

.dropDownList {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 150px;
  top: 55px;
  border-radius: 10x;
  z-index: 1;
  background-color: #23374d;
}

.dropDownList__title {
  background-color: #23374d;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 10px;
  width: 100%;
}

.dropDownList__option {
  width: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
}

.dropDownList__option span {
  color: #23374d;
}

.dropDownList__option:hover {
  background-color: #7c7c7c;
  cursor: pointer;
}

.dropDownList__option:hover span {
  color: white;
}

.sectionHeader {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionHeader__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.sectionHeader__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #23374d;
  font-size: 1.875rem;
}

.sectionHeader__desc {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  font-size: 1.4rem;
}

.sectionHeader__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  margin: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sectionHeader__return img {
  max-height: none;
  margin: 0 5px;
}

.sectionHeader__return span {
  font-weight: bolder;
  color: #4d4d4d;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fcfafa;
  padding: 10px;
}

.mainContent__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 960px;
}

.lds-container {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 70vh;
  margin: 10px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 184px;
  height: 184px;
  margin: 8px;
  border: 10px solid #1089ff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1089ff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.productList {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.productList__total {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 5px 0;
}

.productList__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productList__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #4d4d4d;
  padding: 15px;
  margin: 5px 0;
}

.productList__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.productList__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  margin: 5px 0;
}

.productList__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.productList__options {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 10px;
}

.productList__options select {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}

.productList__options select:focus {
  outline: none;
  border-color: #1089ff;
}

.productList__options input[type="radio"] {
  color: blue;
  vertical-align: middle;
  margin: 10px 0;
  font-size: 0.9rem;
}

.productList__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
  width: 100%;
}

.productList__product {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: 330px;
  margin: 5px;
}

.productList__ref {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productList__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: none;
  width: 100%;
  height: 70%;
}

.productList__preview img {
  height: 150px;
  max-height: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.productList__details {
  border-top: 1px solid #bbbbbb;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 30%;
}

.productList__name {
  color: #7c7c7c;
  font-size: 1.25rem;
}

.productList__price {
  color: #1089ff;
  font-size: 1.25rem;
  margin: 5px 0;
}

.productList__settings {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0px;
  right: 0px;
}

.productList__option {
  margin: 3px 5px;
  max-width: none;
  width: 40px;
}

.productList__option:hover {
  cursor: pointer;
}

.productView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
  font-family: "Open Sans", sans-serif;
  margin: 10px 0;
}

.productView__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 480px;
}

.productView__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
}

.productView__image {
  padding: 10px;
}

.productView__image img {
  max-width: none;
  max-height: none;
  width: 100%;
}

.productView__previous {
  left: 5px;
  position: absolute;
}

.productView__next {
  right: 5px;
  position: absolute;
}

.productView__thumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productView__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin-left: 30px;
}

.productView__title {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 1.5625rem;
}

.productView__price {
  color: #1089ff;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 10px 0;
}

.productView__desc {
  font-size: 1rem;
  color: #4d4d4d;
  margin: 10px 0;
}

.productView__feature {
  color: #4d4d4d;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.productView__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 1000px) {
  .productView {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productView__details {
    margin-top: 10px;
  }
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating--big {
  width: 100%;
}

.rating--big .rating__star {
  width: 100%;
  margin: 0 8px;
}

.form {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.form__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.form__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #23374d;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.form__altRef {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.15rem;
  color: #7c7c7c;
  margin: 20px 0;
}

.form__altRef:hover {
  cursor: pointer;
  text-decoration: underline;
}

.input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.input__label {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #7c7c7c;
  pointer-events: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 1.25rem;
  margin: 0 5px;
}

.input__label--focus {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.input__field {
  background: none;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 2px solid #7c7c7c;
  color: #4d4d4d;
  font-size: 1.25rem;
  z-index: 1;
}

.input__field:focus {
  outline: none;
  border-color: #1089ff;
}

.input__field:focus + label {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.input__field:valid {
  outline: none;
  border-color: #1089ff;
}

.input__field:valid + label {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.customFileInput {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.customFileInput__file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.customFileInput__title {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 5px;
  color: #4d4d4d;
}

.customFileInput__thumb {
  height: 80%;
  margin-left: 5px;
}

.customFileInput__add {
  max-width: none;
  height: 50px;
  position: absolute;
  right: 5px;
}

.customFileInput__add:hover {
  cursor: pointer;
}

.customFileInput__remove {
  max-width: none;
  height: 50px;
  position: absolute;
  right: 5px;
}

.customFileInput__remove:hover {
  cursor: pointer;
}

.customButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 10px 5px;
  margin: 10px 0;
  border-style: none;
  outline: none;
}

.customButton__icon {
  max-width: none;
  height: 27px;
  margin: 0 5px;
}

.customButton__desc {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 5px;
}

.customButton--blue {
  background-color: #1089ff;
}

.customButton--blue:hover {
  background-color: #57abff;
}

.customButton--dark {
  background-color: #4d4d4d;
}

.customButton--dark:hover {
  background-color: #8a8a8a;
}

.customButton--small {
  margin: 0;
}

.customButton--small .customButton__desc {
  font-size: 1.05rem;
}

.customButton:hover {
  cursor: pointer;
}

.footer {
  background-color: white;
  border-top: 1px solid #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 40px 10px;
}

.footer__contact {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: lighter;
  color: #7c7c7c;
  width: 100%;
  max-width: 500px;
  margin: 0 10px;
}

.footer__certification {
  margin-left: auto;
}

.footer__social-media {
  background-color: #23374d;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  margin: 10px;
  max-width: none;
  width: 50px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */