@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.header {
  background-color: #23374d;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
}

.header__menu {
  display: none;
}

.header__menu:hover {
  cursor: pointer;
}

.header__container {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 5px;
}

.header__logo img {
  max-width: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 10px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button:hover {
  cursor: pointer;
}

.header__icon {
  height: 30px;
  max-width: none;
  max-height: none;
}

.header__tag {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  font-weight: lighter;
}

@media (max-width: 385px) {
  .header {
    /*&__menu {
            display: block;
        }*/
    /*&__button {
            display: none;
        }*/
  }
  .header__logo img {
    height: 30px;
  }
  .header__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 0 5px;
  }
  .header__icon {
    height: 20px;
    max-width: none;
    max-height: none;
  }
}

.burguer-menu {
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  z-index: 100;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.burguer-menu__header {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #23374d;
}

.burguer-menu__close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: none;
  width: 25px;
}

.burguer-menu__close:hover {
  cursor: pointer;
}

.burguer-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burguer-menu__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15 0px;
  padding: 10px;
  padding-right: 50px;
}

.burguer-menu__option:hover {
  background-color: #1089ff;
}

.burguer-menu__icon {
  max-width: none;
  height: 30px;
  margin: 0 5px;
}

.burguer-menu__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  margin: 0 5px;
}

.burguer-menu--move {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.queryInput {
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.queryInput__field {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.queryInput__field:focus {
  outline: none;
}

.queryInput__button {
  background-color: #1089ff;
  height: 100%;
  padding: 5px 15px;
}

.queryInput__button img {
  height: 25px;
  max-height: none;
}

.queryInput__button:hover {
  background-color: #7abcff;
  cursor: pointer;
}

.dropDownList {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 150px;
  top: 55px;
  border-radius: 10x;
  z-index: 2;
  background-color: #23374d;
}

.dropDownList__title {
  background-color: #23374d;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 10px;
  width: 100%;
}

.dropDownList__option {
  width: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  z-index: 2;
}

.dropDownList__option span {
  color: #23374d;
}

.dropDownList__option:hover {
  background-color: #7c7c7c;
  cursor: pointer;
}

.dropDownList__option:hover span {
  color: white;
}

.sectionHeader {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionHeader__banner {
  width: 100%;
}

.sectionHeader__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.sectionHeader__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #23374d;
  font-size: 1.5em !important;
}

.sectionHeader__title--blue {
  color: #1089ff;
}

.sectionHeader__desc {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  font-size: 1.4rem;
}

.sectionHeader__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  margin: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sectionHeader__return img {
  max-height: none;
  margin: 0 5px;
}

.sectionHeader__return span {
  font-weight: bolder;
  color: #4d4d4d;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fcfafa;
  padding: 10px;
}

.mainContent__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 960px;
}

.lds-container {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 70vh;
  margin: 10px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 184px;
  height: 184px;
  margin: 8px;
  border: 10px solid #1089ff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1089ff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.empty__image {
  width: 300px;
}

.empty__message {
  font-family: "Open Sans", sans-serif;
  color: #7c7c7c;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.3rem;
  text-align: center;
}

.productList {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.productList__total {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 5px 0;
}

.productList__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productList__responsive {
  display: none;
  width: 100%;
}

.productList__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #4d4d4d;
  padding: 15px;
  margin: 5px 0;
  position: relative;
}

.productList__controls--responsive {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: scroll;
}

.productList__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.productList__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  margin: 5px 0;
}

.productList__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.productList__options {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 10px;
}

.productList__options select {
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}

.productList__options select:focus {
  outline: none;
  border-color: #1089ff;
}

.productList__options input[type="radio"] {
  color: blue;
  vertical-align: middle;
  margin: 15px 0;
}

.productList__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.productList__product {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: 330px;
  margin: 5px;
  padding: 5px;
}

.productList__ref {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productList__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70%;
}

.productList__preview img {
  height: 150px;
  max-height: none;
}

.productList__details {
  border-top: 1px solid #bbbbbb;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 30%;
}

.productList__name {
  color: #7c7c7c;
  font-size: 1.28rem;
}

.productList__price {
  color: #1089ff;
  font-size: 1.45rem;
  margin: 5px 0;
}

.productList__settings {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0px;
  right: 0px;
}

.productList__option {
  background-color: white;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 5px 2px;
  max-width: none;
  width: 35px;
}

.productList__option:hover {
  cursor: pointer;
}

.productList__radioTag {
  vertical-align: middle;
  color: #7c7c7c;
  font-size: 1.2rem;
  margin-left: 5px;
}

@media (max-width: 960px) {
  .productList__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productList__view {
    margin-left: 0;
  }
  .productList__product {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .productList__option {
    width: 50px;
  }
  .productList__options {
    margin: 5px 10px;
  }
  .productList__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 357px) {
  .productList__responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.productView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 960px;
  font-family: "Open Sans", sans-serif;
  margin: 10px 0;
}

.productView__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 480px;
  max-height: 480px;
}

.productView__counter {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #23374d;
  color: white;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 15px;
  z-index: 3;
}

.productView__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

.productView__imageContainer {
  overflow: hidden;
}

.productView__carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.productView__image {
  max-width: none;
  max-height: none;
  width: 100%;
}

.productView__previous {
  height: 40px;
}

.productView__previous:hover {
  cursor: pointer;
}

.productView__next {
  height: 40px;
}

.productView__next:hover {
  cursor: pointer;
}

.productView__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 10px 0;
}

.productView__title {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 2.0625rem;
}

.productView__price {
  color: #1089ff;
  font-size: 2.0625rem;
  font-weight: bold;
  margin: 10px 0;
}

.productView__desc {
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 10px 0;
}

.productView__feature {
  color: #4d4d4d;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.productView__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.productView__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productView__btn {
  margin: 20px 5px;
  max-width: none;
  max-height: none;
  width: 45px;
}

.productView__btn:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .productView__details {
    margin-top: 10px;
    margin-left: 0;
  }
}

.cartList {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cartList__total {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 5px 0;
}

.cartList__priceSum {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7rem;
  color: #4d4d4d;
  margin: 20px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.cartList__order {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.cartList__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  color: #23374d;
}

.cartList__info {
  margin-left: 10px;
}

.cartList__quantity {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  color: #23374d;
}

.cartList__totalPrice {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  color: #23374d;
}

.cartList__thumb {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: none;
  margin: 0 10px;
}

.cartList__remove {
  max-width: none;
  max-height: none;
  height: 50px;
  margin-left: auto;
  margin-right: 5px;
}

.cartList__remove:hover {
  cursor: pointer;
}

.orderList {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.orderList__total {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 5px 0;
}

.orderList__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orderList__order {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
}

.orderList__info {
  font-family: "Open Sans", sans-serif;
  color: #4d4d4d;
  font-size: 1rem;
  margin: 5px 0;
}

.orderList__arrow {
  max-width: none;
  margin-left: auto;
}

.orderList__status {
  color: #1089ff;
}

.orderList__price {
  color: #1089ff;
}

.orderView {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orderView__statusIcon {
  max-width: none;
  width: 100%;
}

.orderView__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0;
}

.orderView__status {
  color: #1089ff;
}

.orderView__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #23374d;
  font-size: 1.4rem;
  margin: 20px 0;
}

.orderView__details {
  width: 100%;
}

.orderView__info {
  font-family: "Open Sans", sans-serif;
  color: #4d4d4d;
  margin: 10px 0;
}

.orderView__list {
  width: 100%;
}

.orderView__totalPrice {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  color: #23374d;
  margin: 10px 0;
  text-align: center;
}

.orderView__totalPrice span {
  color: #1089ff;
  font-weight: bold;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating--big {
  width: 100%;
}

.rating--big .rating__star {
  width: 100%;
  margin: 0 8px;
}

.rating--productView {
  width: 100%;
  margin: 10px 0;
}

.rating--productView .rating__star {
  height: 40px;
}

.form {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.form__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.form__title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #23374d;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.form__twoColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__twoColumn .input {
  margin: 5px;
}

.form__altRef {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.15rem;
  color: #7c7c7c;
  margin: 20px 0;
}

.form__altRef:hover {
  cursor: pointer;
  text-decoration: underline;
}

.input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.input__label {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: #7c7c7c;
  pointer-events: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 1.25rem;
  margin: 0 5px;
}

.input__label--focus {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.input__field {
  background: none;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 2px solid #7c7c7c;
  color: #4d4d4d;
  font-size: 1.25rem;
  z-index: 1;
}

.input__field:focus {
  outline: none;
  border-color: #1089ff;
}

.input__field:focus + label {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.input__field:valid {
  outline: none;
  border-color: #1089ff;
}

.input__field:valid + label {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1089ff;
  margin-bottom: 50px;
  font-size: 0.95rem;
}

.input__field--quantity {
  text-align: center;
  font-size: 1.45rem;
  font-weight: bold;
}

.input--quantity {
  padding: 0;
}

.input--locked .input__label--focus {
  color: #7c7c7c;
  margin-bottom: 50px;
}

.input--locked .input__field {
  color: #7c7c7c;
}

.input--locked .input__field:focus {
  color: #7c7c7c;
  border-color: #7c7c7c;
}

.banner {
  background: radial-gradient(66.55% 50% at 50% 50%, #273788 0%, #094F94 0.01%, #0A0A0E 71.64%, #000000 87.58%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.banner__image {
  max-width: none;
  width: 100px;
  margin: 0 5px;
}

.banner__section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: large;
  margin: 0 5px;
}

.banner__desc {
  font-family: "Open Sans", sans-serif;
  color: white;
}

@media (max-width: 660px) {
  .banner__desc {
    font-size: small;
  }
  .banner__image {
    width: 65px;
  }
}

.customAlert {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customAlert__container {
  margin: 10px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  width: 100%;
  max-width: 760px;
}

.customAlert__message {
  font-family: "Open Sans", sans-serif;
  color: #4d4d4d;
  font-size: 1.4rem;
}

.customAlert__controls {
  margin-top: 30px;
}

.customFileInput {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.customFileInput__file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.customFileInput__title {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 5px;
  color: #4d4d4d;
}

.customFileInput__thumb {
  height: 80%;
  margin-left: 5px;
}

.customFileInput__add {
  max-width: none;
  height: 50px;
  position: absolute;
  right: 5px;
}

.customFileInput__add:hover {
  cursor: pointer;
}

.customFileInput__remove {
  max-width: none;
  height: 50px;
  position: absolute;
  right: 5px;
}

.customFileInput__remove:hover {
  cursor: pointer;
}

.customButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 15px 5px;
  margin: 10px 0;
  border-style: none;
  outline: none;
}

.customButton__icon {
  max-width: none;
  height: 27px;
  margin: 0 5px;
}

.customButton__desc {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 5px;
}

.customButton--banner {
  background-color: #1089ff;
  padding: 7px 5px;
  font-size: medium;
  font-weight: bold;
}

.customButton--banner:hover {
  background-color: #57abff;
}

.customButton--blue {
  background-color: #1089ff;
}

.customButton--blue:hover {
  background-color: #57abff;
}

.customButton--dark {
  background-color: #4d4d4d;
}

.customButton--dark:hover {
  background-color: #8a8a8a;
}

.customButton--small {
  margin: 5px 0;
}

.customButton--small .customButton__desc {
  font-size: 1.05rem;
}

.customButton--smallest {
  margin: 10px 2px;
}

.customButton--smallest .customButton__desc {
  font-size: 0.97rem;
}

.customButton--smallest .customButton__icon {
  height: 20px;
}

.customButton:hover {
  cursor: pointer;
}

@media (max-width: 357px) {
  .customButton--smallest {
    margin: 5px 0;
  }
}

.success {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  z-index: 2;
  background-color: #1089ff;
  padding: 10px;
}

.success span {
  width: 100%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: white;
}

.success--display {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.footer {
  background-color: white;
  border-top: 1px solid #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 40px 10px;
}

.footer__contact {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: lighter;
  color: #7c7c7c;
  width: 100%;
  max-width: 500px;
  margin: 0 10px;
}

.footer__certification {
  margin-left: auto;
}

.footer__social-media {
  background-color: #23374d;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  margin: 10px;
  max-width: none;
  width: 50px;
}

html {
  background-color: #fcfafa;
}

.darken {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */