@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$mainFont: "Open Sans", sans-serif;
$secondFont: "Source Sans Pro", sans-serif;

// Default Html Font Size: 16px
// Fs = Font size
$productTitleFs: 1.25rem;
$productPriceFs: 1.25rem;
$productTitleBigFs: 1.5625rem;
$productDescBigFs: 0.9rem;
$productViewBigFs: 1.25rem;
$headerTitleFs: 1.875rem;
$headerDescFs: 1.4rem;
$totalFs: 1.2rem;
$headerReturnFs: 1.25rem;
$customButtonFs: 1.25rem;
$inputFs: 1.25rem;

$labelMarginBottom: 50px;

// Bg = Background
$mainBlue: #23374d;
$lightBlue: #1089ff;
$darkButton: #4d4d4d;
$darkGray: rgb(77, 77, 77);
$lightGray: #7c7c7c;
$lineColor: #bbbbbb;
$mainBg: white;
$altBg: #fcfafa;
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

$borderRadius: 15px;
$containerMaxWidth: 960px;
$controlsWidth: 240px;
$productWidth: 220px;
$productHeight: 330px;

@import "reset";
@import "header";
@import "queryInput";
@import "dropDownList";
@import "sectionHeader";
@import "mainContent";
@import "lds-ring";
@import "productList";
@import "productView";
@import "form";
@import "input";
@import "customButton";
@import "footer";

.hidden {
    display: none;
}
